<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<body>
    <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="Foto" id="fileInput" accept="image/*">
        <button type="submit">Subir Archivo</button>
    </form>
</body>
</html>
