.bar-projects {
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-top: 1%;
    /* Centra verticalmente los elementos */
}

.dataContainer {
    width: 100%;
    height: 100%;
    max-height: 200px;
    margin-left: 2%;
    margin-top: 2%;
}

.imgContainer {
    height: 108%;
    width: 20%;
}

.imgContainer img {
    width: 100%;
    /* Ancho completo de la imagen */
    height: 100%;
    /* Altura completa de la imagen */
    object-fit: cover;
    /* Ajustar la imagen al contenedor sin distorsión */
    border-radius: 4px;
}

.infoDataContainer {
    margin-left: 1%;
}

.infoDataContainer h1 {
    color: white;
    font-weight: bold;
    font-size: 70px;
}

.infoDataContainer p {
    color: white;
    font-weight: light;
    margin-top: 1%;
    margin-left: 1%;
}

/*------ Settings ------*/
.playBoton {
    --color: #a5a5b0;
    --size: 30px;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    margin-top: 2%;
    display: flex;
    padding: 5px;
    background-color: #212121;

}

.playBoton .play {
    position: absolute;
    animation: keyframes-fill .5s;
}

.playBoton p {
    font-size: small;
    margin-left: 10%;
    padding-top: 7px;
}

.playBoton .pause {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.playBoton input:checked~.play {
    display: none;
}

.playBoton input:checked~.pause {
    display: block;
}

/* ------ Hide the default checkbox ------ */
.playBoton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#editButton {
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: -2%;
    margin-left: 15%;
    border-radius: 25px;
}

#editIcon {
    font-size: 19px;
    margin-left: 22%;
    margin-top: 26%;
}
/* ------ Animation ------ */
@keyframes keyframes-fill {
    0% {
        transform: rotate(-180deg) scale(0);
        opacity: 0;
    }

    50% {
        transform: rotate(-10deg) scale(1.2);
    }
}

.tracksDaD {
    max-height: 29%;
    /* Altura máxima del contenedor */
    overflow-y: auto;
    /* Añadir barra de desplazamiento vertical si es necesario */
    margin-left: 2%;
    margin-top: 0.5%;
    max-width: 95%;
}

.tracksDaD::-webkit-scrollbar {
    display: none;
    /* Ocultar el scrollbar en navegadores webkit */
}

.tracksDaD {
    scrollbar-width: none;
    /* Ocultar el scrollbar en navegadores Firefox */
}


.tracks {
    width: 100%;
    /* Ancho completo */
}

.track {
    background: transparent;
    /* Borde redondeado */
    padding: 12px;
    /* Espacio interior */
    margin-bottom: 10px;
    color: white;
    transition: background-color 0.3s ease;

}

.track #numberTrack {
    font-size: smaller;
    color: rgba(245, 245, 245, 0.5);
    margin-right: 1%;
    margin-top: 0.2%;
}

.track #moreInfoTrack {
    margin-left: 90%;
}

#trackDuration {
    font-size: smaller;
    color: rgba(245, 245, 245, 0.5);
    margin-left: 1.8%;
}

.track:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    /* Cambiar el color de fondo al hacer hover */
}

.track:focus,
.track:active {
    background-color: rgba(255, 255, 255, 0.2);
    /* Cambiar el color de fondo al hacer clic y mantenerlo */
}

.track.clicked {
    background-color: rgba(255, 255, 255, 0.2);
    /* Nuevo color de fondo cuando se hace clic */
}

/*reproductor de mp3*/

.audio-player {
    display: flex;
    width: 1200px;
    height: 80px;
    background-color: #171717;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    margin-left: 18px;
    margin-top: 17%;
    position: absolute;
    z-index: 5;
}

.imgPlayer {
    height: 100%;
    width: 7%;
}

.imgPlayer img {
    width: 100%;
    /* Ancho completo de la imagen */
    height: 100%;
    /* Altura completa de la imagen */
    object-fit: cover;
    margin-left: 5%;
    /* Ajustar la imagen al contenedor sin distorsión */
}

.nameAlbumTrackPlayer {
    color: white;
    margin-left: 1%;
}

#nameAlbumTrackPlayerName {
    font-weight: bold;
    margin-top: 10%;
}

#nameAlbumTrackPlayerAlbum {
    font-size: 12px;
    margin-top: 2%;
    color: rgba(245, 245, 245, 0.5);
}

.midButtons {
    margin-left: 26%;
    margin-top: 1%;
}

.buttonsPlayer {
    color: white;
    font-size: 24px;
    display: flex;
}

.buttonsPlayer i {
    margin-right: 20%;
}

.progress-loader {
    transform: translate(-50%, -50%);
}

.progress-loader {
    width: 133px;
    background: rgba(236, 236, 238, 0.253);
    height: 3px;
    border-radius: 7px;
    margin-top: 14px;
    margin-left: 45px;
}

.progress {
    content: '';
    width: 1px;
    height: 3px;
    border-radius: 7px;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    animation: loading1274 2s ease infinite;
}

@keyframes loading1274 {
    0% {
        width: 0%;
    }

    10% {
        width: 10%;
    }

    50% {
        width: 40%;
    }

    60% {
        width: 60%;
    }

    100% {
        width: 100%;
    }
}

.downButtonsPlayer {
    display: flex;
    color: white;
    margin-top: 1%;
}

.newTrackTool{
    margin-left: 2%;
    color: rgba(245, 245, 245, 0.5);
    margin-top: 1%;
}

.downButtonsPlayer p {
    margin-left: 1px;
    font-size: 12px;
    color: rgba(245, 245, 245, 0.5);
    margin-top: 1%;
}

#trackStart {
    margin-left: -40px;
    margin-right: 26px;
}

#trackEnd {
    margin-left: -64px;
}

/* level settings 👇 */

.slider {
    /* slider */
    --slider-width: 100%;
    --slider-height: 6px;
    --slider-bg: rgb(82, 82, 82);
    --slider-border-radius: 999px;
    /* level */
    --level-color: #fff;
    --level-transition-duration: .1s;
    /* icon */
    --icon-margin: 15px;
    --icon-color: var(--slider-bg);
    --icon-size: 25px;
    position: absolute;
    margin-left: 35%;
    margin-top: -4%;
}

.slider {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.slider .volume {
    display: inline-block;
    vertical-align: top;
    margin-right: var(--icon-margin);
    color: var(--icon-color);
    width: var(--icon-size);
    height: auto;
}

.slider .level {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--slider-width);
    height: var(--slider-height);
    background: var(--slider-bg);
    overflow: hidden;
    border-radius: var(--slider-border-radius);
    -webkit-transition: height var(--level-transition-duration);
    -o-transition: height var(--level-transition-duration);
    transition: height var(--level-transition-duration);
    cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    -webkit-box-shadow: -200px 0 0 200px var(--level-color);
    box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
    height: calc(var(--slider-height) * 2);
}

/*dropzone modal*/

:root {
    --primary: #111926;
    --white: #fff;
    --background: #F8F8FF;
    --gray: #D3D3D3;
}

.dropzone-box {
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 36rem;
    width: 100%;
    background-color: var(--white);
    position: absolute;
    top: 91px;
    left: 36%;
    z-index: 12;
}

.dropzone-box h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.dropzone-area {
    padding: 1rem;
    position: relative;
    margin-top: 1rem;
    min-height: 16rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(--primary);
    border-radius: 1rem;
    color: var(--primary);
    cursor: pointer;
}

.dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone-area .file-upload-icon svg {
    height: 5rem;
    width: 5rem;
    margin-bottom: 0.5rem;
    stroke: var(--primary);
}

.dropzone--over {
    border-style: solid;
    background-color: var(--background);
}

.dropzone-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid var(--gray);
    gap: 1rem;
    flex-wrap: wrap;
}

.dropzone-actions button {
    flex-grow: 1;
    min-height: 3rem;
    font-size: 1.2rem;
}

.dropzone-actions button:hover {
    text-decoration: underline;
}

.dropzone-actions button[type='reset'] {
    background-color: transparent;
    border: 1px solid var(--gray);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--primary);
    cursor: pointer;
}

.dropzone-actions button[type='submit'] {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--white);
    cursor: pointer;
}

/* Estilos para la capa de fondo negro */
/* Estilos para la capa de fondo negro */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color negro semitransparente */
    z-index: 10;
    /* Colocar encima de otros elementos */
    opacity: 0;
    /* Inicialmente invisible */
    transition: opacity 0.3s ease;
    /* Agregar animación de opacidad */
}

/* Estilos para mostrar la capa de fondo negro cuando el formulario está visible */
#overlay.visible {
    display: block;
    opacity: 1;
}


/* Estilos para mostrar la capa de fondo negro cuando el formulario está visible */
.dropzone-box.visible+#overlay {
    display: block;
    z-index: 11;
    opacity: 1;
}

.buttonPlayTrack{
    margin-top: 3%;
    padding: 15px;
    background-color: #fef27a;
    border-radius: 32px;
    width: 55px;
    height: auto;
}

.noProjects {
    width: 98%;
    height: 380px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    border: 0px;
    border-radius: 15px;
}


.cookieHeading {
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.cookieDescription {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.acceptButton {
    width: 100px;
    height: 38px;
    background-color: #fef27a;
    transition-duration: .2s;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    padding: 5px;
}


.declineButton:hover {
    background-color: #ebebeb;
    transition-duration: .2s;
}

.acceptButton:hover {
    transition-duration: .2s;
}